In [148]:
import requests
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [14]:
import pprint

In [3]:
news_result = requests.get("https://mars.nasa.gov/news/")

In [4]:
print(news_result.status_code)

200

In [5]:
news_src = news_result.content

In [6]:
soup = BeautifulSoup(news_src, 'lxml')
#print(soup.prettify)
title = soup.title.text
title

'News  – NASA’s Mars Exploration Program '

In [7]:
soup = BeautifulSoup(news_src)
title = soup.find('div', class_='content_title').find('a').text
print(title)
news_p = soup.find('div', class_='rollover_description').text
print(news_p)

NASA Invites Students to Name Mars 2020 Rover



Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [10]:
#paragraphs = soup.find_all('ul')
#for paragraph in paragraphs:
 #   print(paragraph.text)
soup1 = BeautifulSoup(src)
for ultag in soup.find_all('ul', {'class': 'item_list '}):
    for litag in ultag.find_all('li'):
        print(litag.text)

In [22]:
urls = soup.find_all("img")
for url in urls:
    print(url)

<img alt="" class="print_only print_logo" src="/assets/logo_mars_trio_black@2x.png"/>
<img alt="More" src="/assets/overlay-arrow.png"/>
<img alt="NASA Invites Students to Name Mars 2020 Rover" class="img-lazy" data-lazy="/system/news_items/list_view_images/8508_Name_A_unannotated_MAIN-th.jpg" src="/assets/loading_320x240.png"/>
<img alt="More" src="/assets/overlay-arrow.png"/>
<img alt="NASA's Curiosity Mars Rover Finds a Clay Cache" class="img-lazy" data-lazy="/system/news_items/list_view_images/8442_PIA23240_32x24.jpg" src="/assets/loading_320x240.png"/>
<img alt="More" src="/assets/overlay-arrow.png"/>
<img alt="Why This Martian Full Moon Looks Like Candy" class="img-lazy" data-lazy="/system/news_items/list_view_images/8436_PIA23205_annotated-32x24.jpg" src="/assets/loading_320x240.png"/>
<img alt="More" src="/assets/overlay-arrow.png"/>
<img alt="NASA Garners 7 Webby Award Nominations" class="img-lazy" data-lazy="/system/news_items/list_view_images/8426_Webby2019-320x240.jpg" src="/assets/loading_320x240.png"/>
<img alt="More" src="/assets/overlay-arrow.png"/>
<img alt="NASA's Opportunity Rover Mission on Mars Comes to End" class="img-lazy" data-lazy="/system/news_items/list_view_images/8413_PIA06739-320x240.jpg" src="/assets/loading_320x240.png"/>
<img alt="More" src="/assets/overlay-arrow.png"/>
<img alt="NASA's InSight Places First Instrument on Mars" class="img-lazy" data-lazy="/system/news_items/list_view_images/8402_PIA22977_SEIS_deploy_IDC_calibrated-th.gif" src="/assets/loading_320x240.png"/>
<img alt="twitter" src="/assets/twitter_icon@2x.png"/>
<img alt="facebook" src="/assets/facebook_icon@2x.png"/>
<img alt="instagram" src="/assets/instagram_icon@2x.png"/>
<img alt="rss" src="/assets/rss_icon@2x.png"/>

In [5]:
images_result = requests.get("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")

In [6]:
print(images_result.status_code)

200

In [7]:
images_src = images_result.content

In [9]:
soup = BeautifulSoup(images_src, 'lxml')
#print(soup.prettify)
title = soup.title.text

In [10]:
title

'Space Images'

In [ ]:
#https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [10]:
!which chromedriver

/c/Users/aarth/chromedriver_win32/chromedriver

In [17]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [97]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [98]:
html = browser.html

In [101]:
images_soup = BeautifulSoup(html, 'lxml')
#print(soup.prettify)
image_link = images_soup.find('div', class_='carousel_items')
image_alt = image_link.article['alt']
base_url = "https://www.jpl.nasa.gov"
image_url = base_url + image_link.article.a['data-fancybox-href']
print(image_url)
print(image_alt)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19913_ip.jpg
The Ares 3 Landing Site: Where Science Fact Meets Fiction

In [100]:
image_link.article

<article alt="The Ares 3 Landing Site: Where Science Fact Meets Fiction" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA19913-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  The Ares 3 Landing Site: Where Science Fact Meets Fiction				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="This image from NASA's Mars Reconnaissance Orbiter shows a location on Mars associated with the best-selling novel and Hollywood movie, 'The Martian.' This area is in the Acidalia Planitia region." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19913_ip.jpg" data-link="/spaceimages/details.php?id=PIA19913" data-title="The Ares 3 Landing Site: Where Science Fact Meets Fiction" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>

In [106]:
#https://twitter.com/marswxreport?lang=en
twitter_browser = Browser('chrome', **executable_path, headless=False)

In [107]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
twitter_browser.visit(twitter_url)

In [108]:
#<div class="js-tweet-text-container">
twitter_html = twitter_browser.html

In [110]:
twitter_soup = BeautifulSoup(twitter_html, 'lxml')

In [135]:
mars_weather = twitter_soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [136]:
mars_weather

'InSight sol 353 (2019-11-24) low -100.6ºC (-149.1ºF) high -23.3ºC (-10.0ºF)\nwinds from the SSE at 5.8 m/s (13.1 mph) gusting to 21.4 m/s (47.9 mph)\npressure at 6.70 hPapic.twitter.com/NPmuRAuvQ7'

In [137]:
#https://space-facts.com/mars/
space_browser = Browser('chrome', **executable_path, headless=False)
space_url = "https://space-facts.com/mars/"
space_browser.visit(space_url)

In [138]:
#textwidget
#tablepress tablepress-id-p-mars
space_html = space_browser.html
space_soup = BeautifulSoup(space_html, 'lxml')

In [144]:
space_table = space_soup.find('table', class_="tablepress tablepress-id-p-mars")

In [155]:
mars_df = pd.read_html(space_url)[0]
mars_df.columns = ['Characteristic', 'Fact']
mars_html = mars_df.to_html()
mars_df

         Characteristic                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [156]:
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Characteristic</th>\n      <th>Fact</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'