In [1]:
import requests
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [2]:
news_result = requests.get("https://mars.nasa.gov/news/")

In [3]:
news_src = news_result.content

In [4]:
soup = BeautifulSoup(news_src, 'lxml')
#print(soup.prettify)
title = soup.title.text
title

'News  – NASA’s Mars Exploration Program '

In [5]:
soup = BeautifulSoup(news_src, 'lxml')
title = soup.find('div', class_='content_title').find('a').text
print(title)
news_p = soup.find('div', class_='rollover_description').text
print(news_p)

NASA Invites Students to Name Mars 2020 Rover



Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [6]:
images_result = requests.get("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")

In [7]:
print(images_result.status_code)

200

In [8]:
images_src = images_result.content

In [9]:
soup = BeautifulSoup(images_src, 'lxml')
#print(soup.prettify)
title = soup.title.text

In [10]:
title

'Space Images'

In [11]:
!which chromedriver

/c/Users/aarth/chromedriver_win32/chromedriver

In [12]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [14]:
html = browser.html

In [15]:
images_soup = BeautifulSoup(html, 'lxml')
#print(soup.prettify)
image_link = images_soup.find('div', class_='carousel_items')
image_alt = image_link.article['alt']
base_url = "https://www.jpl.nasa.gov"
image_url = base_url + image_link.article.a['data-fancybox-href']
print(image_url)
print(image_alt)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA22574_ip.jpg
Making Room for Hubble's New Camera

In [16]:
browser.quit()

In [17]:
#https://twitter.com/marswxreport?lang=en
twitter_browser = Browser('chrome', **executable_path, headless=False)

In [18]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
twitter_browser.visit(twitter_url)

In [19]:
#<div class="js-tweet-text-container">
twitter_html = twitter_browser.html

In [20]:
twitter_soup = BeautifulSoup(twitter_html, 'lxml')

In [21]:
mars_weather = twitter_soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [22]:
mars_weather

'InSight sol 353 (2019-11-24) low -100.6ºC (-149.1ºF) high -23.3ºC (-10.0ºF)\nwinds from the SSE at 5.8 m/s (13.1 mph) gusting to 21.4 m/s (47.9 mph)\npressure at 6.70 hPapic.twitter.com/NPmuRAuvQ7'

In [23]:
twitter_browser.quit()

In [24]:
#https://space-facts.com/mars/
space_browser = Browser('chrome', **executable_path, headless=False)
space_url = "https://space-facts.com/mars/"
space_browser.visit(space_url)

In [25]:
#textwidget
#tablepress tablepress-id-p-mars
space_html = space_browser.html
space_soup = BeautifulSoup(space_html, 'lxml')

In [26]:
space_table = space_soup.find('table', class_="tablepress tablepress-id-p-mars")

In [27]:
mars_df = pd.read_html(space_url)[0]
mars_df.columns = ['Characteristic', 'Fact']
mars_html = mars_df.to_html()
mars_df

         Characteristic                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [28]:
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Characteristic</th>\n      <th>Fact</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [29]:
space_browser.quit()

In [30]:
#https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
USGS_browser = Browser('chrome', **executable_path, headless=False)
USGS_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
USGS_browser.visit(USGS_url)

In [31]:
USGS_html = USGS_browser.html
USGS_soup = BeautifulSoup(USGS_html, 'lxml')

In [44]:
hemisphere_image_urls = []
USGS_hemis_a = USGS_soup.find_all('div', class_="item")
main_url = "https://astrogeology.usgs.gov"
for hemi in USGS_hemis_a:
    USGS_title = hemi.h3.text[:-9]
    USGS_hemi_url = main_url+hemi.a['href']
    USGS_browser.visit(USGS_hemi_url)
    USGS_img_html = USGS_browser.html
    USGS_img_soup = BeautifulSoup(USGS_img_html, 'html.parser')
    #print(USGS_img_soup)
    part_url = USGS_img_soup.find('img', class_='wide-image')['src']
    USGS_img_url = main_url + part_url
    hemi_dict = {"title":USGS_title,"img_url": USGS_img_url}
    hemisphere_image_urls.append(hemi_dict)
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [33]:
USGS_browser.quit()